@model AdoptifySystem.Event_

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main">
    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Event</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                Event Name
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Event_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Event_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Date:
                <div class="col-md-10">
                    <input type="date" name="date" />
                </div>
            </div>

            <div class="form-group">
                Time 24h:
                <div class="col-md-10">
                    <input type="text" name="time" />
                </div>
            </div>

            <div class="form-group">
                Guest Number
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Event_Guest_Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Event_Guest_Number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Ticket Price
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Event_Ticket_Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Event_Ticket_Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Location
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Event_Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Event_Location, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Description
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Event_Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Event_Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Event Type
                <div class="col-md-10">
                    @Html.DropDownList("Event_Type_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Event_Type_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
