@*@model IEnumerable<AdoptifySystem.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_IDNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Contract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Date_Employed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title.Title_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Type.Emp_Type_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_IDNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Contract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Date_Employed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title.Title_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Type.Emp_Type_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Emp_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Emp_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Emp_ID })
        </td>
    </tr>
}

</table>*@
<h1>Error</h1>