@model AdoptifySystem.Models.nickeymodel.Flexible
@{
    ViewBag.Title = "ReceiveStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main">
    <h2>ReceiveStock</h2>
    @using (Html.BeginForm())
    {
        <input type="text" name="Stock_ID" value="@Model.stock.Stock_ID" hidden />
        <label>Select Stock Type</label><br />
        if (Model.Stock_Types != null)
        {

            <select disabled name="Stock_Type_ID" id="exampleList">

                @foreach (var item in Model.Stock_Types)
                {
                    if (Model.stock.Stock_Type_ID == item.Stock_Type_ID)
                    {
                        <option selected value="@item.Stock_Type_ID">@item.Stock_Type_Name</option>
                    }
                    else
                    {
                        <option value="@item.Stock_Type_ID">@item.Stock_Type_Name</option>

                    }
                }

            </select>
        }
        <br />
        <h1>Food Detail</h1>
        <label>Food Packaging Type:</label>
        <div id="RadioFood_Packaging_Type">
            @foreach (var item in Model.packaging_Types)
            {
                if (Model.stock.Packaging_Type_ID == item.Packaging_Type_ID)
                {
                    <div class="form-check">
                        <input disabled class="form-check-input" type="radio" name="Packaging_Type_ID" value="@item.Packaging_Type_ID" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            @item.Packaging_Type_Name
                        </label>
                    </div>
                }
                else
                {


                    <div class="form-check">
                        <input disabled class="form-check-input" type="radio" name="Packaging_Type_ID" value="@item.Packaging_Type_ID">
                        <label class="form-check-label" for="exampleRadios1">
                            @item.Packaging_Type_Name
                        </label>
                    </div>
                }
            }

        </div>
        <label>Unit Type:</label>
        <div id="RadioUnit_Type">
            @foreach (var item in Model.unit_Types)
            {
                if (Model.stock.Unit_Type_ID == item.Unit_Type_ID)
                {
                    <div class="form-check">
                        <input disabled class="form-check-input" type="radio" name="Unit_Type_ID" id="exampleRadios1" value="@item.Unit_Type_ID" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            @item.Unit_Type_Name
                        </label>
                    </div>
                }
                else
                {

                    <div class="form-check">
                        <input disabled class="form-check-input" type="radio" name="Unit_Type_ID" id="exampleRadios1" value="@item.Unit_Type_ID">
                        <label class="form-check-label" for="exampleRadios1">
                            @item.Unit_Type_Name
                        </label>
                    </div>
                }
            }

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Units:</label>
            <input type="number" readonly name="Unit_number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.stock.Unit_number" placeholder="Enter Units">
            <small id="emailHelp" class="hide text-muted">We'll never share your email with anyone else.</small>
        </div>
        <h1>Stock Detail</h1>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Number of Items Available:</label>
                    <input type="number" readonly class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.stock.Stock_Quantity" placeholder="Enter Number of Items" />
                    <small id="emailHelp" class="hide form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Number of Items You would like to Add:</label><br />
                    <input type="number" name="Stock_Quantity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Number of Items" />
                    <small id="emailHelp" class="hide form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Description:</label><br />
            <input type="text" readonly name="Stock_Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.stock.Stock_Description" placeholder="Enter Description">
            <small id="emailHelp" class="hide form-text text-muted">We'll never share your email with anyone else.</small>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" name="button" value="Cancel" class="btn btn-warning">Cancel</button>
                <button type="submit" name="button" value="Save" class=" btn btn-success float-right">Save</button>
            </div>
        </div>
    }
    <div id="main">