@model IEnumerable<AdoptifySystem.Event_Type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Event Type Name
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_Type_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Event_Type_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Event_Type_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Event_Type_ID })
                </td>
            </tr>
        }

    </table>
    </div>